<div class="page-navigation">
    <nav class="page-navigation-items">
        <a class="nav-item nav-welcome" href="{{ path('app_home') }}">Home</a>
        <a class="nav-item nav-weather" href="{{ path('app_weather') }}">Weather</a>
        <a class="nav-item nav-register" href="{{ path('app_register') }}">Register</a>
        <a class="nav-item nav-login" href="{{ path('app_login') }}">Login</a>
        <p class="nav-item nav-logout">Logout</p>
    </nav>

    <script>
        const navWelcome = $(".nav-welcome");
        const navWeather = $(".nav-weather");
        const navRegister = $(".nav-register");
        const navLogin = $(".nav-login");
        const navLogout = $(".nav-logout");

        const navBarLayout = () => {
            const jwtToken = getJwtToken();
            navWelcome.css("display", "block");
            navWeather.css("display", jwtToken ? "block" : "none");
            navRegister.css("display", jwtToken ? "none" : "block");
            navLogin.css("display", jwtToken ? "none" : "block");
            navLogout.css("display", jwtToken ? "block" : "none");
        }

        $(document).ready(() => {
            navBarLayout();
        });

        navLogout.click(() => {
            setJwtToken("");
            setRefreshToken("");
            location.reload();
        });
    </script>
</div>
