<nav {{ attributes }} class="page-navigation">
    <div class="page-navigation-items">
        <a href="{{ path('app_home') }}">Welcome</a>
        <a href="{{ path('app_weather') }}">Weather</a>
    </div>
</nav>
